Source: libfvalue
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libfvalue
Vcs-Git: https://github.com/libyal/libfvalue.git

Package: libfvalue
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfvalue1
Replaces: libfvalue1
Suggests: libfvalue-dbg
Description: Library to support various format value types
 libfvalue is a library to support various format value types.

Package: libfvalue-dbg
Architecture: any
Section: debug
Depends: libfvalue (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvalue
 Debugging symbols for libfvalue.

Package: libfvalue-dev
Section: libdevel
Architecture: any
Depends: libfvalue (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfvalue
 Header files and libraries for developing applications for libfvalue.

